/* Universal Styles */

* {
  box-sizing: border-box;
}

html {
  font-family: "Dongle", "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

header,
section,
footer {
  width: 100%;
}

/* Header */
/* Menu */

.top-logo {
  width: 250px;
  margin: auto;
  height: 250px;
  background-color: cornsilk;
  display: flex;
  align-items: center;
}

.top-logo h1 {
  text-align: center;
  font-size: 3em;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: burlywood;
}


.menu-main ul {
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}

.menu-main li {
  margin-right: 1em;
  font-size: 1.25em;
}

/* Top banner */

.top-header {
  background-color: white;
  height: 625px;
  display: flex;
}

.top-banner-box{
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.topbanner-img{
  width: 100%;
  height: auto;
  padding: 0.75em;
  filter: grayscale(0.45);
}

/* Section */
section {
  height: 625px;
}

.top-page-btn{
  background-color: cornsilk;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  border: none;
  margin-top: 10px;
  padding: 0.75em;
}

.top-page-btn:hover{
  opacity: 0.8;
}
/* Featured regional ramen */


.featured-regional-ramen {
  display: flex;
  align-items: center;
  background-color: burlywood;
}

.featured-regional-ramen h1 {
  margin-left: 2em;
  font-size: 2em;
}

.box-image {
  width: 20em;
  height: 12em;
  background-color: white;
}

.img-top{
  width:20em;
  height: 12em;
  padding: 0.5em;
  filter: grayscale(0.45);
}

.overlap-a {
  transform: translateX(150px);
}

.box-featured {
  width: 21.3em;
  height: 26em;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 400px solid cornsilk;
  border-bottom: 400px solid cornsilk;
  border-right: 750px solid white;
}

.right-text{
  width: 350px;
  position: relative;
  left: 350px;
}


/* Featured Story*/

.featured-story {
  display: flex;
  align-items: center;
  background-color: burlywood;
}

.featured-story h1 {
  margin-right: 2em;
  font-size: 2em;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 400px solid cornsilk;
  border-bottom: 400px solid cornsilk;
  border-left: 750px solid white;
}

.left-text{
  width: 350px;
  position: relative;
  right: 650px;
}

.overlap-b {
  transform: translateX(-150px);
}

/* Footer */
footer {
  width: 100%;
  height: 50px;
}

.footer-position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-position p {
  margin-right: 1em;
}

/* Ramen Wisdom page*/
/*2 columns layout */

.two-col-layout {
  display: flex;
}

.main-content {
  margin-top: 250px;
  padding: 1.5em;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.main-content p {
  line-height: 1.5;
}


/* Side Menu*/

.side-menu {
  width: 350px;
  max-height: 100%;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-menu li {
  text-align: center;
  line-height: 2;
  font-size: 1.25em;
}


