/* Side Menu */


.dropdown-ramen{
  font-size: 0.75em;
  text-align: center;
  display: none;
}

/* Main content wisdom page */
#ramen {
    display: block;
  }
  
  #basic-ramen {
    display: none;
  }
  
  #basic-topping {
    display: none;
  }
  
  #noodles {
    display: none;
  }
  
  #how-to-eat {
    display: none;
  }
  
  #how-to-order {
    display: none;
  }
  
  #ramencyclopedia {
    display: none;
  }

  .basicRamen{
    display: flex;
    margin-bottom: 1em;
  }

  .basicRamen-image{
    width: 600px;
    height: 450px;
  }

  .basicRamen-title{
    font-weight:900;
    font-size: 1.25em;
    margin-bottom: 1em;
  }

  .basicRamen-description{
    margin-left: 1em;
  }

p{
    margin-bottom: 0.65em;
  }